<h2>Home</h2>


<nav class="navbar navbar-light bg-light">
        
        <img src="https://wallpaperaccess.com/full/1204717.jpg" width="60" height="60" alt="">
                
        
        
        <a href="/auth/logout">Logout</a>
        <a href="/profile">Profile</a>
        
    </nav>

    <ul>
        <li>
                <a href="/auth/signup">Signup</a>
        </li>
    </ul>
    <ul>
        <li>
                <a href="/auth/login">Login</a>
        </li>
    </ul>
    <ul>
        <li>
                <a href="/auth/signup">Signup</a>
        </li>
    </ul>
    <ul>
        <li>
                <a href="/auth/signup">Signup</a>
        </li>
    </ul>