<!-- <nav class="navbar navbar-light bg-light">
        <img src="https://wallpaperaccess.com/full/1204717.jpg" width="maxWidth" height="300" alt="">
</nav> -->
    <h1></h1>
    <hr>
    <hr>
    <a href="/auth/signup">Signup</a>
    <hr>
    <hr>

    <a href="/auth/login">Login</a>
    <hr>
    <hr>

    <a href="/auth/logout">Logout</a>
    <hr>
    <hr>

    <a href="/profile">Profile</a>