
    <h1></h1>
    <hr>
    <hr>
    <a href="/auth/signup">Signup</a> | <a href="/auth/login">Login</a> 

    <!-- <nav class="navbar navbar-light bg-light">
            <img src="https://wallpaperaccess.com/full/1204717.jpg" width="maxWidth" height="300" alt="">
    </nav> -->