<h2>Profile Page</h2>

<a href="/">Home</a> | <a href="/auth/logout">Logout</a> | <a href="/faves">Search Players</a> | <a href="/events">Create Event</a>
<hr>

<ul class="list-group">
        <% faves.forEach(fave => {%>
                <li class="list-group-item active"><%= fave.firstname %> <%= fave.lastname %>
                </li>
                <hr>
                <form action="/profile/<%= fave.id %>?_method=DELETE" method="POST">
                <input class="btn btn-primary" type="submit" value="DELETE">

                    <!-- <input type="submit" value="DELETE"> -->
                    </form>
                    <hr>
        <%})%>
        
    </ul>

