body {
    background-color: black;

}
#favesBtn {
    color: black ;
} 
#detail {
    margin-top: 200px;
    
} 
#search {
    margin: 120px; 
     
} 
#h3{
    margin: 100px;  
} 
/* .list-group{
    color: white;
} */