<form action="/profile/?_method=PUT">
    <label for="newPlayer">New Player</label>
    <input type="text" name="firstname" id="<% fave.firstname %>">
    <input type="text" name="lastname" id="<% fave.lastname %>">
    <input type="submit" value="Update Player">
    </form>