<div id = "search">
        <form action = "/faves/results" method = "GET">
            <label for="query">Name</label>
            <input type="text" name="search" first_name="query" placeholder="Enter a players name">
        
            <input class="btn btn-primary" type="submit" value="Search">
        </form>  

</div>
