<form action = "/name" method = "GET">
    <label for="query">Name</label>
    <input type="text" name="search" first_name="query" placeholder="Enter a players name">


    <input type="submit" value="Search">
</form>  